<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" [routerLink] = "['/welcome']">CRUD</a>
    <ul class="nav navbar-nav">
      <li >
        <a [routerLink] = "['/createUser']">Create User</a>
      </li>
      <li >
        <a [routerLink] = "['/retriveUser']">Retrive User</a>
      </li>
      <li >
        <a [routerLink] = "['/updateUser']">Update User</a>
      </li>
      <li >
        <a [routerLink] = "['/deleteUser']" >Delete User</a>
      </li>
      <li >
        <a [routerLink] = "['/listUser']">List User</a>
      </li>
    </ul>
  </div>
</nav>
